body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root, html, body {
	height: 100%;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.grid-box {
	box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.25);
}

.box {
	border: 1px solid rgba(128, 128, 128, 0.12156862745098039);
	background-color: white;
	cursor: move;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left
}

.box.isDragging {
	background-color: rgba(255, 0, 0, 0.32);
}

.box.isDragging > p {
	opacity: 0;
}

.box.isActive {
	background-color: rgba(12, 183, 1, 0.48);
}